body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  min-height: 100vh;
}
.app-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.lado-izquierdo {
  flex: 7;
  padding: 20px;
  background-color: #f1f1f1;
  width: 70%;
}

.lado-derecho {
  flex: 3;
  padding: 15px;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
}
.terrafind-container {
  text-align: center;
  margin-bottom: 20px;
}


.button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  gap: 30px;
}

.button-send {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  background-color: #5C18F0;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 50px;
  width: fit-content;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 4rem;
}

.terrafind-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 4rem;
  font-size: 2rem;
}

.terrafind-container h2 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.selector-container {
  margin-bottom: 10px;
}
.selector-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
  border: none; /* Eliminamos el borde */
  border-radius: 5px;
  padding: 1rem 10rem 1rem 1rem;
  font-size: 1rem;
  
  max-height: 200px; /* Altura máxima de la lista */
  overflow-y: auto; 
}

.selector-container select,
.selector-container input {
  border: none;
  outline: none;
  background: none;
  flex-grow: 1;
  height: 100%;
}

.selector-container label {
  flex-shrink: 0;
  width: 80%;
}

.autocomplete-list {
  list-style: none; /* Eliminamos las viñetas de la lista */
  padding: 0;
  margin: 0;
}

.autocomplete-list li {
  padding: 5px 10px;
  cursor: pointer;
}

.autocomplete-list li:hover {
  background-color: #f1f1f1;
}
